.cm-mx-width{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}


@media screen and (min-width: 980px) {
    .mobile {
        display: none !important;
    }
}

@media screen and (max-width: 979px) {
    .pc {
        display: none !important;
    }
}