@media screen and (min-width: 980px) {
    .mobile {
        display: none !important;
    }

    .mobile-sm {
        display: none !important;
    }

    .mx-sm{
        display: none !important;
    }
}

@media screen and (max-width: 979px) {
    .pc {
        display: none !important;
    }

    .mobile-sm {
        display: none !important;
    }
    
    .mx-sm{
        display: none !important;
    }
}

@media screen and (max-width: 479px) {
    .pc {
        display: none !important;
    }

    .mobile {
        display: none !important;
    }

    .mobile-sm {
        display: block !important;
    }
    
    .mx-sm{
        display: none !important;
    }
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
*::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
*::-webkit-scrollbar-track {
    background-color:transparent
  }