@charset "utf-8";

@font-face {
  font-family: "nanumSquare";
  font-weight: 300;
  src: url("../assets/font/NanumSquareL.otf") format("opentype"),
    url("../assets/font/NanumSquareL.woff") format("woff");
}

@font-face {
  font-family: "nanumSquare";
  font-weight: 500;
  src: url("../assets/font/NanumSquareR.otf") format("opentype"),
    url("../assets/font/NanumSquareR.woff") format("woff");
}

@font-face {
  font-family: "nanumSquare";
  font-weight: 700;
  src: url("../assets/font/NanumSquareB.otf") format("opentype"),
    url("../assets/font/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../assets/font/Montserrat-Light.otf") format("opentype"),
    url("../assets/font/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../assets/font/Montserrat-Medium.otf") format("opentype"),
    url("../assets/font/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../assets/font/Montserrat-Bold.otf") format("opentype"),
    url("../assets/font/Montserrat-Bold.woff") format("woff");
}
