@charset "utf-8";

@font-face {
  font-family: "nanumSquare";
  font-weight: 300;
  src: url("../assets/font/NanumSquareL.woff2") format("woff2"),
    url("../assets/font/NanumSquareL.woff") format("woff");
}

@font-face {
  font-family: "nanumSquare";
  font-weight: 500;
  src: url("../assets/font/NanumSquareR.woff2") format("woff2"),
    url("../assets/font/NanumSquareR.woff") format("woff");
}

@font-face {
  font-family: "nanumSquare";
  font-weight: 700;
  src: url("../assets/font/NanumSquareB.woff2") format("woff2"),
    url("../assets/font/NanumSquareB.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../assets/font/Montserrat-Light.woff2") format("woff2"),
    url("../assets/font/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../assets/font/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/font/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../assets/font/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/font/Montserrat-Bold.woff") format("woff");
}
